/*!--------------MAIN INDEX-------------*/
main {
    .hero {
        div {
            background:linear-gradient(rgba(255, 255, 255, 0.545), #005d7c74), url(../img/foto_herosection.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            width: 100%;
            height: 80vh;
            font-weight: 500;
            @include flex (flex, column, space-around, center);
            h2{
                font-size: $font-size-titulo_hero;
                font-weight: 600;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                text-align: center;
            }
            p { 
                color: black;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                font-weight: 600;
                margin: 0px;
                text-align: center;
                padding: 30px;}
        }
    }
    .carrusel {
        width: 100%;
        height: 400px;
        margin-top: 30px;
        @extend %flex;
        flex-direction: column;
        h2 {
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-size: $font-size-titulos;
            color: black;
            margin-top: 20px
        }
        .carousel {
            .carousel-inner {
                max-width: 600px;
                .carousel-item {
                    img {
                        width: 600px;
                        height: 400px;
                    }
                    .carousel-caption {
                        a {
                            h5 {
                                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                                background-color: nth($paleta-colores, 3);
                                font-size: $font-size-titulo_carrusel;
                                color: white;
                            }
                        }
                    }
                }
            }
        }
    }
    .contenedor_valores {
        @extend %flex;
        margin-top: 20px;
        .valores {
            width: 70%;
            height: 70%;
            margin: 30px;  
            background-position: center;
            color: black;
            text-align: center;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            border: 4px solid #040f16;
            border-radius: 20% 0 20% 0;
            div {
                padding: 20px;
                @extend %flex;
                flex-direction: column;
                p {
                    font-size: $font-size-textos;
                    padding-top: 10px;
                }
            }
        }
    }
    .servicios_hermanos {
        div {
            h2 {
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                font-size: $font-size-titulos;
                color: black;
                text-align: center;
            }
            .tarjetas {
                width: 100%;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                flex-wrap: wrap;
                .paulettelash {
                    width: 280px;
                    height: 500px;
                    background-color: nth($paleta-colores, 4);
                    color: white;
                    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                    padding: 15px;
                    margin-top: 20px;
                    transition-duration: 1s;
                    @include flex(flex, column, space-between, center);
                    img {
                        width: 100%;
                        height: 250px;
                        object-fit: cover;
                    }
                    h3 {
                        font-size: $font-size-titulos_tarjetas;
                        text-align: center;
                        margin-bottom: 15px;
                    }
                    p {
                        margin-bottom: 5px;
                        font-size: $font-size-textos;
                    }
                    .cejas {
                        margin-bottom: 25px;
                    }
                    .bi-instagram {
                        font-size: 40px;
                        color: white;
                    }
                }
                .greenfort {
                    width: 280px;
                    height: 500px;
                    background-color: nth($paleta-colores, 4);
                    color: white;
                    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                    padding: 15px;
                    margin-top: 20px;
                    text-align: center;
                    @include flex (flex, column, space-between, center);
                    transition-duration: 1s;
                    img {    
                        width: 100%;
                        height: 250px;}
                    h3 {
                        font-size: $font-size-titulos_tarjetas;
                        text-align: center;
                        margin-bottom: 15px;
                    }
                    p {
                        margin: 0px;
                    }
                    .bi-instagram {
                        font-size: 40px;
                        color: white;
                    }
                }
            }
        }
    }
}
/*!---------------MAIN KINESIOLOGIA-----------*/
main {
    .kine_musculo {
        padding: 30px;
        div {
            display:flex;
            justify-content: space-between;
            align-items: center;
            .info_kinemusculo {
                @include flex ( flex, column, space-between, center);
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                text-align: center;
                h2 {
                    font-size: $font-size-titulos_tarjetas;
                    font-weight: 600;
                }
                p {
                    font-size: $font-size-textos;
                    padding: 20px;
                }
            }
            img {
                width: 600px;
                height: 400px;
            }
        }
    }
    .neuro_adulto {
        background-color: nth($paleta-colores, 4);
        color: white;
        padding: 10px;
        margin: 20px; 
        display: flex;
        justify-content: space-around;
        align-items: center;
        .info_neuro {
            width: 100%;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            display: flex;
            justify-content: space-around;
            align-items: center;
            text-align: center;
            img {
                text-align: start;
                width: 600px;
                height: 400px;
            }
            div {
                @include flex (flex, column, space-between, center);
                h2 {
                    font-size: $font-size-titulos_tarjetas;
                    font-weight: 600;
                }
                p {
                    font-size: $font-size-textos;
                    padding: 20px;
                    margin-bottom: 20px;
                }
            }
        }
    }
    .kine_respiratoria {
        padding: 30px;
        div {
            padding: 10px;
            margin: 20px; 
            display: flex;
            justify-content: space-around;
            align-items: center;
            div {
                width: 80%;
                text-align:start;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                @include flex (flex, column, space-between, center);
                text-align: center;
                h2 {
                    font-size: $font-size-titulos_tarjetas;
                    font-weight: 600;
                }
                p {
                    font-size: $font-size-textos;
                    padding: 20px;
                    margin-bottom: 20px;
                }
            }
            img {
                width: 600px;
                height: 400px;
            }
        }
    }
    .domicilio {
        padding: 30px;
        div {
            background-color: nth($paleta-colores, 4);
            color: white;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            padding: 10px;
            margin: 20px; 
            display: flex;
            justify-content: space-around;
            align-items: center;
            text-align: center;
            img {
                width: 600px;
                height: 400px;
            }
            div {
                @include flex (flex, column, space-between, center);
                h2 {
                    font-size: $font-size-titulos_tarjetas;
                    font-size: 25px;
                    font-weight: 600;
                }
                p {
                    font-size: $font-size-textos;
                    padding: 20px;
                    margin-bottom: 20px;
                }
            }
        }
    }
}
/*!---------------MAIN MASAJES Y RECOVERY-----------*/
main {
    .masaje_relajante {
        padding: 30px;
        div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: nth($paleta-colores, 4);
            color: white;
            padding: 10px;
            .flex_masjrelajante {
                display: flex;
                flex-direction: column;
                .info_masjrelajante {
                    @extend %flex;
                    flex-direction: column;
                    text-align: center;
                    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                    h2 {
                        font-size: $font-size-titulos_tarjetas;
                        font-size: 25px;
                        font-weight: 600;
                    }
                }
                .botones_masjrelajante {
                    width: 50%;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                    div {
                        display: flex;
                        flex-direction: column;
                        p {
                            text-align: center;
                        }
                    }
                }
            }
            img {
                width: 600px;
                height: 400px;
            }
        }
    }
    .masaje_descontracturante {
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px;
        img {
            width: 300px;
            height: 400px;
        }
        div {
            padding: 10px;
            .info_masjdescontracturante {
                @extend %flex;
                flex-direction: column;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                text-align: center;
                h2 {
                    font-size: $font-size-titulos_tarjetas;
                    font-weight: 600;
                }
            }
            .botones_masjdescontracturante {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                div {
                    p {
                        text-align: center;
                    }
                }
            }
        }
    }
    .masaje_cranealykine {
        background: linear-gradient(#040f1632,#005d7ccd);
        padding: 30px;
        margin: 15px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .masaje_craneal {
            background-color: nth($paleta-colores, 4);
            width: 450px;
            height: 650px;
            border: 1px solid white;
            color: white;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            @include flex(flex, column, space-evenly, center);
            img {
                width: 100%;
                height: 70%;
                padding: 5px;
            }
            div {
                @include flex(flex, column, space-around, center);
                text-align: center;
                padding: 5px;
                h2 {
                    font-size: $font-size-titulos_tarjetas;
                }
                p {
                    font-size: $font-size-textos;
                    padding: 5px;
                    margin: 0px
                }
            }
        }
        .masaje_kine {
            background-color: nth($paleta-colores, 4);
            width: 450px;
            height: 650px;
            border: 1px solid white;
            color: white;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            @include flex(flex, column, space-evenly, center);
            img {
                width: 100%;
                height: 70%;
                padding: 5px;
            }
            div {
                @include flex(flex, column, space-around, center);
                text-align: center;
                padding: 5px;
                h2 {
                    font-size: $font-size-titulos_tarjetas;
                }
                p {
                    font-size: $font-size-textos;
                    padding: 5px;
                    margin: 0px;
                }
            }
        }
    }
    .recovery {
        padding: 30px;
        @include flex(flex, column, space-around, center);
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        h2 {
            font-size: $font-size-titulos_tarjetas;
        }
        div {
            @extend %flex;
            .img_botas {
                width: 55%;
                height: 400px;
                margin: 20px;
            }
            .img_masjrecovery {
                width: 55%;
                height: 400px;
                margin: 20px;
            }
        }
        .info_recovery {
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            text-align: center;
            @extend %flex;
            flex-direction: column;
            padding: 20px;
            margin-bottom: 20px;
            p {
                font-size: $font-size-textos;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            }
            p {
                font-size: $font-size-textos;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            }
            p {
                font-size: $font-size-textos;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            }
            .botones_recovery {
                @extend %flex;
                div {
                    @extend %flex;
                    flex-direction: column;
                    margin: 30px;
                    p {
                        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                    }
                }
            }
        }
    }
}
/*!------------------MAIN SALUD LABORAL--------*/
main {
    .salud_laboral {
        background: linear-gradient(#040f1632,#005d7ccd);
        background-position: center;
        border: 3px black solid;
        border-radius: 20% 0 20% 0;
        margin: 60px;
        padding: 30px;
        height: 80%vh;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        @extend %flex;
        flex-direction: column;
        h2 {
            font-size: $font-size-titulos;
            margin-bottom: 20px;
        }
        p {
            font-size: $font-size-textos;
        }
    }
    .contacto_saludlaboral {
        div {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            div {
                @include flex(flex, column, center, start);
                h3 {
                font-size: $font-size-titulos_tarjetas;
                margin-bottom: 20px;
                }
            }
            .saludlaboral_imagen {
                width: 300px;
                height: 400px;
            }
        }
    }
}
/*!----------------MAIN RESERVA--------*/
main {
    .flex_reserva{
        width: 100%;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        @extend %flex;
        flex-direction: column;
        .reserva {
            width: 70%;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            margin-bottom: 15px;
            h2 {
                text-align: center;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                font-size: 30px;
            }
            h3 {
                font-size: 16px;
                font-weight: 400;
            }
        }
    }
    .flex_dudas {
        width: 100%;
        @extend %flex;
        flex-direction: column;
        .dudas {
            width: 70%;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            h2 {
                text-align: center;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                font-size: 30px;
            }
        }
    }
}