
@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');

/*!-------------RESET---------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

.boton{
    font-size: 20px;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 10px;
    border: map-get($boton, border-boton);
    background-color: map-get($boton, bg-boton);
    color: map-get($boton, color-texto);
    transition-duration: 1s;
}
    /*!-------PSEUDO CLASES------*/
    .boton:hover {
        background-color: white;
        border: 2px solid black;
        color: black;
    }

    .nav-link:hover {
        transform: scale(1.1);
        box-shadow: 10px -11px 9px -2px rgba(22, 21, 21, 0.522);
        -webkit-box-shadow: 10px -11px 9px -2px rgba(22, 21, 21, 0.504);
        -moz-box-shadow: 10px -11px 9px -2px rgba(22, 21, 21, 0.421);
    }

    .servicios_hermanos div .tarjetas .paulettelash:hover {
        transform:  scale(103%);
        box-shadow: 10px -11px 9px -2px rgba(22,21,21,0.75);
        -webkit-box-shadow: 10px -11px 9px -2px rgba(22,21,21,0.75);
        -moz-box-shadow: 10px -11px 9px -2px rgba(22,21,21,0.75);
    }

    .servicios_hermanos div .tarjetas .greenfort:hover {
        transform: scale(103%);
        box-shadow: 10px -11px 9px -2px rgba(22,21,21,0.75);
        -webkit-box-shadow: 10px -11px 9px -2px rgba(22,21,21,0.75);
        -moz-box-shadow: 10px -11px 9px -2px rgba(22,21,21,0.75);
    }

    .boton:active {
        color: darkred;
    }

    .servicios_hermanos div .tarjetas .paulettelash .bi-instagram:hover {
        color:darkred;
    }

    .servicios_hermanos div .tarjetas .paulettelash .bi-instagram:active {
        color: white;
    }

    .servicios_hermanos div .tarjetas .greenfort .bi-instagram:hover {
        color:darkred;
    }

    .servicios_hermanos div .tarjetas .greenfort .bi-instagram:active {
        color:darkred;
    }

    /*!-------PSEUDOELEMENTOS-----*/
    header h1::selection {
        background-color: black;
    }
    
    header h1 span::selection {
        background-color: black;
        color: white;
    }
    
    p::selection {
        color: white;
        background-color: black;
    }
    
    h2::selection {
        color: white;
        background-color: black;
    }
    
    h2::selection {
        color: white;
        background-color: black;
    }
    
    
    a::selection {
        background-color: black;
        color: white;
    }
    
    footer .piedepagina iframe::selection {
        background-color: black;
    }
    
    footer .piedepagina .iconos img::selection {
        background-color: black;
    }
    
    h3::selection {
        color: white;
        background-color: black;
    }
    
    footer .piedepagina h3 span::selection {
        background-color: black;
        color: white;
    }